@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (Model.Movies != null)
{
    @if (!Model.Movies.Any() && !string.IsNullOrEmpty(Model.query))
    {
        <partial name="_HeaderPartial" />
        <div class="section">
            <div class="section-message">no search results for "@Model.query".</div>
        </div>
    }
    else
    {
        @* HERO SECTION *@
        @if (Model.HeroSectionItems.Any())
        {
            @* Top-Hero-Section*@
            <div class="hero-section w-clearfix">
                @* Main-Hero-Section, Left*@
                <div class="hero-column">
                    <div class="header-list-wrapper w-dyn-list">
                        <div role="list" class="header-list w-dyn-items">
                            <div role="listitem" class="header-item w-dyn-item"><a asp-page="./Movie"
                                    asp-route-MovieId="@Model.HeroSectionItems[0].MovieId"
                                    class="header-item-link-block w-inline-block">
                                    <div class="header-item-overlay">
                                        <div class="item-titles-wrapper">
                                            <div class="highlight-item-content-block">
                                                <div class="large-rating-number">@Model.Movies[0].Rating</div>
                                                <h1 class="large-item-title mobile-align-left">@Model.HeroSectionItems[0].Title</h1>
                                                <div class="info-wrapper large">
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973aee1339f0001a7cebe_tag.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title-link">@Model.HeroSectionItems[0].Genre</div>
                                                    </div>
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973abd092d00001df9c0e_clock.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title">@Model.HeroSectionItems[0].Year</div>
                                                    </div>
                                                </div>
                                                <p class="highlight-paragraph">@Model.HeroSectionItems[0].Summary</p>
                                                <div class="button outline-button hide-mobile">Read&nbsp;More</div>
                                            </div>
                                            <div class="author-block bottom-right push-up w-clearfix">
                                                <div class="author-name">@Model.HeroSectionItems[0].Directors</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-image: url(&quot;@Model.HeroSectionItems[0].Image&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                        class="item-image"></div>
                                </a></div>
                        </div>
                    </div>
                </div>
                @* Secondary-Hero-Section, Right *@
                <div class="hero-column right-column">
                    <div class="header-list-wrapper half w-dyn-list">
                        <div role="list" class="header-list w-dyn-items">
                            @* First-top-item *@
                            <div role="listitem" class="header-item half w-dyn-item"><a asp-page="./Movie"
                                    asp-route-MovieId="@Model.HeroSectionItems[1].MovieId"
                                    class="header-item-link-block w-inline-block">
                                    <div class="header-item-overlay">
                                        <div class="item-titles-wrapper small">
                                            <div class="highlight-item-content-block full">
                                                <div class="large-rating-number small">@Model.HeroSectionItems[1].Rating</div>
                                                <h1 class="large-item-title medium">@Model.HeroSectionItems[1].Title</h1>
                                                <div class="info-wrapper large">
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973aee1339f0001a7cebe_tag.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title-link">@Model.HeroSectionItems[1].Genre</div>
                                                    </div>
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973abd092d00001df9c0e_clock.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title">@Model.HeroSectionItems[1].Year</div>
                                                    </div>
                                                </div>
                                                <div class="button outline-button hide-mobile">Read&nbsp;More</div>
                                            </div>
                                            <div class="author-block bottom-right push-up hide-on-mobile w-clearfix">
                                                <div class="author-name">@Model.HeroSectionItems[1].Directors</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-image: url(&quot;@Model.HeroSectionItems[1].Image&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                        class="item-image"></div>
                                </a></div>
                        </div>
                    </div>
                    @* two-bottom-items *@
                    <div class="header-list-wrapper second-half w-dyn-list">
                        <div role="list" class="header-list w-dyn-items w-row">
                            <div role="listitem" class="header-item half w-dyn-item w-col w-col-6"><a asp-page="./Movie"
                                    asp-route-MovieId="@Model.HeroSectionItems[2].MovieId"
                                    class="header-item-link-block w-inline-block">
                                    <div class="header-item-overlay">
                                        <div class="item-titles-wrapper small">
                                            <div class="highlight-item-content-block full">
                                                <div class="large-rating-number small">@Model.HeroSectionItems[2].Rating</div>
                                                <h1 class="large-item-title medium mobile-small">@Model.HeroSectionItems[2].Title
                                                </h1>
                                                <div class="info-wrapper large">
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973aee1339f0001a7cebe_tag.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title-link">@Model.HeroSectionItems[2].Genre</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-image: url(&quot;@Model.HeroSectionItems[2].Image&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                        class="item-image"></div>
                                </a></div>
                            <div role="listitem" class="header-item half w-dyn-item w-col w-col-6"><a asp-page="./Movie"
                                    asp-route-MovieId="@Model.HeroSectionItems[3].MovieId"
                                    class="header-item-link-block w-inline-block">
                                    <div class="header-item-overlay">
                                        <div class="item-titles-wrapper small">
                                            <div class="highlight-item-content-block full">
                                                <div class="large-rating-number small">@Model.HeroSectionItems[3].Rating</div>
                                                <h1 class="large-item-title medium mobile-small">@Model.HeroSectionItems[3].Title
                                                </h1>
                                                <div class="info-wrapper large">
                                                    <div class="info-block"><img
                                                            src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973aee1339f0001a7cebe_tag.svg"
                                                            alt="" class="info-block-icon">
                                                        <div class="info-title-link">@Model.HeroSectionItems[3].Genre</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="background-image: url(&quot;@Model.HeroSectionItems[3].Image&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                        class="item-image"></div>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @* HEADER PARTIAL *@
        <partial name="_HeaderPartial" />

        @* ALL MOVIES *@
        <div class="section">
            <div class="container w-container">
                <div class="section-title-wrapper align-left">
                    <h1 class="section-title">Disney Animation Movies<br></h1>
                </div>
                <div data-duration-in="300" data-duration-out="100" data-current="Author Picks" data-easing="ease"
                    class="tabs w-tabs">
                    <div class="tabs-menu w-tab-menu" role="tablist"><a data-w-tab="Author Picks"
                            class="tab-button w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
                            href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0"
                            aria-selected="true">
                            <div>Author Picks</div>
                        </a><a data-w-tab="Featured" class="tab-button w-inline-block w-tab-link" tabindex="-1"
                            id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                            aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false">
                            <div>Featured</div>
                        </a><a data-w-tab="New" class="tab-button w-inline-block w-tab-link" tabindex="-1"
                            id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                            aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                            <div>New</div>
                        </a>
                    </div>
                </div>
                <div class="item-list-wrapper w-dyn-list">
                    <div role="list" class="item-list w-dyn-items w-row">

                        @foreach (var movie in Model.Movies)
                        {
                            <div role="listitem" class="item w-dyn-item w-col w-col-3">
                                <div class="item-block">
                                    <a asp-page="./Movie" asp-route-MovieId="@movie.MovieId"
                                        style="background-image:url(&quot;@movie.Image&quot;)"
                                        class="item-image-block poster-format w-inline-block">
                                    </a>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <div class="item-number" style="right:51px">@movie.Rating</div>
                                        <form method="post">
                                            @if (!Model.Bookmarked(movie.MovieId))
                                            {
                                                <div class="item-number" style="right:-51px">
                                                    <button style="background-color:transparent;
                                                    height:30px" asp-page-handler="Add" asp-route-MovieId="@movie.MovieId">
                                                        <span class="material-symbols-outlined">
                                                            bookmark_add
                                                        </span>
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="item-number" style="right:-51px">
                                                    <button style="background-color:transparent;
                                                    height:30px;"
                                                    asp-page-handler="Remove" asp-route-MovieId="@movie.MovieId">
                                                        <span class="material-symbols-outlined">
                                                            bookmark
                                                        </span>
                                                    </button>
                                                </div>
                                            }
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="item-number">@movie.Rating</div>
                                    }
                                    <a asp-page="./Movie" asp-route-MovieId="@movie.MovieId" class="item-block-title">@movie.Title
                                    </a>
                                    <div class="info-wrapper small">
                                        <div class="info-block">
                                            <img src="https://assets.website-files.com/59f5ab35fccfea0001f70443/5a0973aee1339f0001a7cebe_tag.svg"
                                                alt="" class="info-block-icon small">
                                            @movie.Genre
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- SEARCH SECTION -->
    <div class="section">
        <div class="container push-up w-container">
            <div class="search-wrapper">
                <div class="search-title">Search for a Movie by Tile and/or By Year:</div>
                <form class="search-form w-clearfix w-form">
                    <input class="search-field w-input" maxlength="256" asp-for="query" placeholder="search for movie..."
                        type="search" id="search">
                    <input type="submit" class="search-button w-button" value=".">
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="section">
        <div class="section-message">No Movies are available right now.</div>
    </div>
}